---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFF00 !default;
$header-tagline-color: #FFFFFF;
$header-bg-color: #FF1493;
$header-bg-color-secondary: #99e6b3;

// Text
$section-headings-color: #00004d;
$body-text-color: #2F4F4F !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #DB7093 !default;
$border-style: double;
$table-border-color: #e9ebec !default;
$hr-border-color: #fecdc1 !default;

@import "{{ site.theme }}";
